@import 'fonts';

/* colors */
$sunflower: #f1c40f;
$bloody: #c0392b;
$background: darkslategray;
$tomato: tomato;
$crimson: rgba(239,57,50,1);
$dark-crimson: rgba(133,32,28,.2);
$snow: #fffefa;

/* fonts */
$railway: 'Railway';
